.PwChangeHeader { 
    display: flex;
    justify-content: center;
    color: black; 
}

.pgTitle { 
    font-weight: bold;
}


.form-body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /*background: #be96f1;*/
    background: radial-gradient(circle, rgba(238,174,202,1) 3%, rgba(148,187,233,1) 96%);
}

.form-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-container .form-floating:focus-within {
    z-index: 2;
}

.form-login .current-password {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .new-password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
