.InventoryHeader { 
    display: flex;
    justify-content: space-between;
    color: black; 
    font-weight: bold;
}

.InvTitle { 
    font-weight: bold;
}

.addbtn { 
    background: #640ad7; 
    height: 40px;
    width: 120px;
    border-radius: 10px;
}

.tblrow { 
    background: #be96f1; 
}

.btn1 { 
    height: 45px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid green;
    align-items: center;
    margin-right:20px;
}

.btn2 { /*1. reject 2. rejectbtn*/
    height: 45px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid red;
    align-items: center;
    margin-left: 20px;
}
