
.loginContainer { /*2. loginBody  3. loginWraper*/
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: calc(100vh - 150px);
    
}

.loginForm { /*2. loginFormContainer  3. loginFormWraper*/
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    /*background: pink;*/ /*for simmant*/
    /* background: grey;*/ /*for prazol*/
    background: #e3d8f1;
}

/*.form-login .form-floating:focus-within {
    z-index: 2;
}

.form-login .username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}*/

.Input { /*2. userInput 3.usercredntials*/
    margin: 40px;
}

.inputField { /* 2. inputbox 3. textBox */
    border-radius: 4px;
    width: 100%;
    height: 40px;
}

.LoginButton { /*1. signinButton 2.login*/
    width: 50%;
    border-radius: 4px;
    background: red;
    border: 0;
    margin: 10px;
    height: 40px;
    width: 100px;
}

.LoginHead{ /*2. loginTitle 3. loginHeader*/
    font-weight: bold;
}

cred { /* 2. credentials* 3. defaultCred*/
margin: 0;
}
