.staffHeader { 
    display: flex;
    justify-content: space-between;
    color: black; 
    font-weight: bold;
}

.InvTitle { 
    font-weight: bold;
}

.addbtn { 
    background: #640ad7; 
    height: 40px;
    width: 120px;
    border-radius: 10px;
}

.table{
    width: 100%;
}

.rows { 
    background: #be96f1;
    
}

.btnn { 
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid green;
    align-items: center;
    margin-right:20px;
}


