.staffHeader { /*2. staffPageTitle 3. staffPageHeader*/
    display: flex;
    justify-content: space-between;
    color: #640ad7; /*2. pink 3. grey*/
    font-weight: bold;
}

.InvTitle { /*2. Title 3.Pagetitle*/
    font-weight: bold;
}

.addbtn { /*2.buttonAdd 3. Button*/
    background: #640ad7; /*2. pink 3. grey*/
    height: 40px;
    width: 120px;
    border-radius: 10px;
}

.table{
    width: 100%;
}

.rows { /*2. withdrawnTableRows 3. withdrawnRows*/
    background: #be96f1; /*2. pink 3. grey*/
    
}

.btnn { /*2. aprove 3. aprovebtn*/
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid green;
    align-items: center;
    margin-right:20px;
}


