.userHeading { 
    display: flex;
    justify-content: space-between;
    color: black; 
}

.UserTitled { 
    font-weight: bold;
}

.AddButton { 
    background: #640ad7; 
    height: 40px;
    width: 85px;
    border-radius: 10px;
}

.table { 
    background: #be96f1; 
    
}