<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
        <a class="navbar-brand text-black text-weight-bold" href="inventory">Inventory Management</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class='@(_collapseNavMenu ? "collapse" : "")' @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3 "><h5 class="text-light text-black">Welcome <strong>@Username</strong>!</h5></div>

        @*all the contents displayed in the navbar*@
        
        @if (UserRole == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-person" /> Users
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="withdrawlItem">
                    <span class="oi oi-cloud-download" /> Withdraw Items
                </NavLink>
            </div>

            <div class="nav-item px-3">
            <NavLink class="nav-link" href="approvedLog">
                <span class="oi oi-inbox" /> Approval Logs
            </NavLink>
        </div>     
        }
            
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventory">
                <span class="oi oi-dashboard" /> Inventory Stocks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="staffInventory">
                <span class="oi oi-wrench" /> Staff Inventory
            </NavLink>
        </div>         
             
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="horizontalGraph">
                <span class="oi oi-dashboard" /> Graph 
            </NavLink>
        </div>
           
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="change-password">
                <span class="oi oi-key" /> Change Password
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-danger" role="button" @onclick="LogoutHandler">
                <span class="oi oi-account-logout" /> Logout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public Role UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
